# Build folders
build/
bin/
out/
x64/
Debug/
Release/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# Rider
.idea/

# Compiled objects
*.obj
*.o
*.lo
*.slo

# Libraries / binaries
*.lib
*.dll
*.exe
*.exp
*.ilk
*.pdb

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Shader outputs
*.spv
*.cso

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Vendor binaries
vendor/**/lib/
vendor/**/bin/
vendor/**/build/